body{
 background-color: #162944;; 
 background-image: url('assets/fondo2.jpg');
 background-position: center;
 margin: 0;
 padding: 0;
 box-sizing: border-box;  
 font-family: Haettenschweiler;
}

.div-header{
    margin-top: 15px;
    margin-right: 15px;
    padding: 0;
    display: flex;
    justify-content:right;
    align-items:flex-start;
}

.contenedor {
    width: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0;
    transition: background-color 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.contenedor figure:hover{
    transform: rotate(-10deg);
    width: 85px;
    height: 85px;
    transition: all 2s;
	-moz-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
    border-collapse: collapse;
}

.contenedor figure {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    margin-right: 1px; 
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 0PX 1px 2px;
    cursor: pointer;
}

.contenedor figure img{
    width: 100%; 
    height: 100%;
    transition: all 500ms ease-out;
    display: flex;
}

.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: whitesmoke;
    font-size: larger;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
    font-size: medium;
    transition: all 2s;
	-moz-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

/*.fixed-table {
    position: fixed;
    top: 20%; 
    bottom: 20%;
}*/

.flex-td{
    position: flex;
    margin: 0;
    padding: 0;
    align-self: center;
    width: 80px;
    height: 80px;
    border-collapse: collapse;
}

select {
    border: none; 
    background-color: #f2f2f2; 
    border-radius: 5px; 
    appearance: none; 
    outline: none;
    box-shadow: none; 
    width: 80px;
    height: 80px;
  }

select option {
    font-size: 1.5em; 
    padding: 8px; 
    border: none; 
    background-color: #f2f2f2; 
    border-radius: 5px; 
    font-family: Haettenschweiler;
    text-align: center;
  }

  .wrapper{
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto;
}
button{
    width:200px;
    height:70px;
    background: linear-gradient(to left top, #615e5f 50%, #60595c 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}

.footer{
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:flex-end;
}
